{{#post}}

{{#if image}}
<section id="hero" class="post-hero color-bg image-bg light-font" style="background-image: url({{image}});">
{{else}}
<section id="hero" class="post-hero gradient-bg light-font">
{{/if}}
	<div class="hero-content">
		<div class="container">
			<h1 class="hero-title">{{title}}</h1>
		</div>
	</div>
</section>

{{/post}}