<footer id="footer">
	<div class="container text-center">
		<!-- <p>&copy; Copyright <a href="/" class="link">{{@blog.title}}</a> / All rights reserved.</p> -->
		<p>&copy; Copyright Amy Radin All rights reserved.</p>

	</div>
</footer>
