<div id="sidebar" class="col-sm-4 col-lg-4 col-lg-offset-1" role="complementary">

	{{> widgets/widget-about}}

	{{> widgets/widget-must-read}}

	{{> widgets/widget-side-menu}}

	{{> widgets/widget-dribbble}}

</div>