<div class="page-navigation">
	<div class="col-xs-4 newer-posts">{{#if prev}}<a href="{{pageUrl prev}}" class="link">&larr; Newer<span> posts</span></a>{{/if}}</div>
	<div class="col-xs-4 page-number"><span>Page </span>{{page}}/{{pages}}</div>
	<div class="col-xs-4 older-posts">{{#if next}}<a href="{{pageUrl next}}" class="link">Older<span> posts</span> &rarr;</a>{{/if}}</div>
</div>