<ul class="social-profiles">
	<li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="social-button social-facebook" title="Share on Facebook"><i class="fa fa-facebook"></i></a></li>
	<li><a href="http://twitter.com/share?text={{title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="social-button social-twitter" title="Share on Twitter"><i class="fa fa-twitter"></i></a></li>
	<li><a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="social-button social-google" title="Share on Google+"><i class="fa fa-google-plus"></i></a></li>
	<li>Share this</li>
</ul>