<aside class="widget">
	<h4 class="widget-title">Must Read</h4>
	
	<ul class="sidebar-articles">
		<li class="clearfix">
			<h5 class="article-title"><a href="/photo-1000-words/">Photos? We got your back!</a></h5>
			<p>Adding full-width, left and right floated images is a breeze. You can even turn them to black and white if you want. Have a look at a <a href="/photo-1000-words/" class="link">photo demo post</a>.</p>
		</li>
		<li class="clearfix">
			<h5 class="article-title"><a href="/different-quotes/">Stylish quotes? Of course!</a></h5>
			<p>You can easily add full-width or left and right pull quotes in Type. And they look absolutely gorgeous! See for yourself in the <a href="/different-quotes/" class="link">quotes demo</a>.</p>
		</li>
	</ul>
</aside>