# Ignore everything first:
/*

# Then un-ignore the following:
!.gitignore

# ---- Theme files -----
content/*
!/content/

content/themes/*
!/content/themes/

content/themes/type/*
!/content/themes/type/

!/content/themes/type/*
