<div id="content" class="col-sm-12">
	<div class="posts single-col">

		{{! Each post will be output using this markup }}
		{{#foreach posts}}

			{{> posts/post-excerpt}}
			{{! This includes the post-excerpt.hbs partial }}
			{{! You can switch to 'post-full' to include full posts }}

		{{/foreach}}

		{{!! After all the posts, we have the previous/next pagination links }}
		{{pagination}}

	</div>
</div>