<div id="content" class="col-sm-8 col-lg-7">
	<div class="posts single-post">

		{{#post}}
			<article class="{{post_class}}">
				<div class="post-content">
					{{content}}

					{{> post-sharing}}
				</div>
			</article>
		{{/post}}

	</div>
</div>

{{> sidebar}}