{{#if @blog.cover}}
<section id="hero" class="color-bg image-bg light-font" style="background-image: url({{@blog.cover}});">
{{else}}
<section id="hero" class="gradient-bg light-font">
{{/if}}
	<div class="hero-content">
		<div class="container">
			<!-- <h1 class="hero-title">An unexpected combination</h1>
			<p class="intro">of insight, reinvention, and pragmatism</p> -->
			<!-- <h1 class="hero-title">Connecting companies to consumers to create new growth</h1> -->
			<!-- <p class="intro">An unexpected combination of insight, reinvention, and pragmatism in financial services and insurance</p> -->
		</div>
	</div>
</section>
