{{#if @blog.cover}}
<section id="hero" class="color-bg image-bg light-font" style="background-image: url({{@blog.cover}});">
{{else}}
<section id="hero" class="gradient-bg light-font">
{{/if}}
	<div class="hero-content">
		<div class="container">
			<h1 class="hero-title">Homepage Hero Headline</h1>
			<p class="intro">Homepage Hero introductory paragraph.</p>
		</div>
	</div>
</section>