/*
Type Theme for Ghost - Color Themes

1. Theme: Spring
2. Theme: Summer
3. Theme: Fall
4. Theme: Winter
5. Theme: Mono Light
6. Theme: Mono Dark
7. Theme: White
8. Theme: Black
*/

/* 1. Theme: Spring */

.theme-spring .gradient-bg {
	background: rgba(88,203,142,1);
	background: -moz-linear-gradient(-45deg, rgba(88,203,142,1) 0%, rgba(188,244,150,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(88,203,142,1)), color-stop(100%, rgba(188,244,150,1)));
	background: -webkit-linear-gradient(-45deg, rgba(88,203,142,1) 0%, rgba(188,244,150,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(88,203,142,1) 0%, rgba(188,244,150,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(88,203,142,1) 0%, rgba(188,244,150,1) 100%);
	background: linear-gradient(135deg, rgba(88,203,142,1) 0%, rgba(188,244,150,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58cb8e', endColorstr='#bcf496', GradientType=1 );
}
.theme-spring a.link::after,
.theme-spring #nav > ul > li > a::after,
.theme-spring .color-bg,
.theme-spring .post-info::after,
.theme-spring .post-content .read-more:hover,
.theme-spring .widget-title::after,
.theme-spring .social-button:hover {
	background-color: #58cb8e;
}
.theme-spring .post-info .fa-star {
	color: #58cb8e;
}


/* 2. Theme: Summer */

.theme-summer .gradient-bg {
	background: #e62727;
	background: -moz-linear-gradient(-45deg,#e62727 0%,#f79f08 100%);
	background: -webkit-gradient(left top,right bottom,color-stop(0%,#e62727),color-stop(100%,#f79f08));
	background: -webkit-linear-gradient(-45deg,#e62727 0%,#f79f08 100%);
	background: -o-linear-gradient(-45deg,#e62727 0%,#f79f08 100%);
	background: -ms-linear-gradient(-45deg,#e62727 0%,#f79f08 100%);
	background: linear-gradient(135deg,#e62727 0%,#f79f08 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e62727',endColorstr='#f79f08',GradientType=1);
}
.theme-summer a.link::after,
.theme-summer #nav > ul > li > a::after,
.theme-summer .color-bg,
.theme-summer .post-info::after,
.theme-summer .post-content .read-more:hover,
.theme-summer .widget-title::after,
.theme-summer .social-button:hover {
	background-color: #e62727;
}
.theme-summer .post-info .fa-star {
	color: #e62727;
}


/* 3. Theme: Fall */

.theme-fall .gradient-bg {
	background: #e35542;
	background: -moz-linear-gradient(-45deg,#e35542 0%,#520435 100%);
	background: -webkit-gradient(left top,right bottom,color-stop(0%,#e35542),color-stop(100%,#520435));
	background: -webkit-linear-gradient(-45deg,#e35542 0%,#520435 100%);
	background: -o-linear-gradient(-45deg,#e35542 0%,#520435 100%);
	background: -ms-linear-gradient(-45deg,#e35542 0%,#520435 100%);
	background: linear-gradient(135deg,#e35542 0%,#520435 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e35542',endColorstr='#520435',GradientType=1);
}
.theme-fall a.link::after,
.theme-fall #nav > ul > li > a::after,
.theme-fall .color-bg,
.theme-fall .post-info::after,
.theme-fall .post-content .read-more:hover,
.theme-fall .widget-title::after,
.theme-fall .social-button:hover {
	background-color: #e35542;
}
.theme-fall .post-info .fa-star {
	color: #e35542;
}


/* 4. Theme: Winter */

.theme-winter .gradient-bg {
	background: #7eb7e0;
	background: -moz-linear-gradient(-45deg,#7eb7e0 0%,#f5d398 100%);
	background: -webkit-gradient(left top,right bottom,color-stop(0%,#7eb7e0),color-stop(100%,#f5d398));
	background: -webkit-linear-gradient(-45deg,#7eb7e0 0%,#f5d398 100%);
	background: -o-linear-gradient(-45deg,#7eb7e0 0%,#f5d398 100%);
	background: -ms-linear-gradient(-45deg,#7eb7e0 0%,#f5d398 100%);
	background: linear-gradient(135deg,#7eb7e0 0%,#f5d398 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7eb7e0',endColorstr='#f5d398',GradientType=1);
}
.theme-winter a.link::after,
.theme-winter #nav > ul > li > a::after,
.theme-winter .color-bg,
.theme-winter .post-info::after,
.theme-winter .post-content .read-more:hover,
.theme-winter .widget-title::after,
.theme-winter .social-button:hover {
	background-color: #7eb7e0;
}
.theme-winter .post-info .fa-star {
	color: #7eb7e0;
}


/* 5. Theme: Mono Light */

.theme-mono-light .gradient-bg {
	background: #cccccc;
	background: -moz-linear-gradient(-45deg,#cccccc 0%,#f5f5f5 100%);
	background: -webkit-gradient(left top,right bottom,color-stop(0%,#cccccc),color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(-45deg,#cccccc 0%,#f5f5f5 100%);
	background: -o-linear-gradient(-45deg,#cccccc 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(-45deg,#cccccc 0%,#f5f5f5 100%);
	background: linear-gradient(135deg,#cccccc 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc',endColorstr='#f5f5f5',GradientType=1);
}
.theme-mono-light .color-bg {
	background-color: #cccccc;
}
.theme-mono-light a.link::after,
.theme-mono-light #nav > ul > li > a::after,
.theme-mono-light .post-info::after,
.theme-mono-light .post-content .read-more:hover,
.theme-mono-light .widget-title::after,
.theme-mono-light .social-button:hover {
	background-color: #ffbb00;
}
.theme-mono-light .post-info .fa-star {
	color: #ffbb00;
}

.theme-mono-light #hero.dark-font,
.theme-mono-light #hero.dark-font .hero-title,
.theme-mono-light #hero.dark-font h1,
.theme-mono-light #hero.dark-font h2,
.theme-mono-light #hero.dark-font h3,
.theme-mono-light #hero.dark-font a,
.theme-mono-light #hero.dark-font .hero-post-info .fa,
.theme-mono-light #hero.light-font,
.theme-mono-light #hero.light-font .hero-title,
.theme-mono-light #hero.light-font h1,
.theme-mono-light #hero.light-font h2,
.theme-mono-light #hero.light-font h3,
.theme-mono-light #hero.light-font a,
.theme-mono-light #hero.dark-font .hero-post-info .fa {
	color: #000;
}

.theme-mono-light #hero.dark-font .hero-content a::after,
.theme-mono-light #hero.light-font .hero-content a::after {
	background-color: #000;
}


/* 6. Theme: Mono Dark */

.theme-mono-dark .gradient-bg {
	background: #000000;
	background: -moz-linear-gradient(-45deg,#000000 0%,#222222 100%);
	background: -webkit-gradient(left top,right bottom,color-stop(0%,#000000),color-stop(100%,#222222));
	background: -webkit-linear-gradient(-45deg,#000000 0%,#222222 100%);
	background: -o-linear-gradient(-45deg,#000000 0%,#222222 100%);
	background: -ms-linear-gradient(-45deg,#000000 0%,#222222 100%);
	background: linear-gradient(135deg,#000000 0%,#222222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#222222',GradientType=1);
}
.theme-mono-dark .color-bg {
	background-color: #000000;
}
.theme-mono-dark a.link::after,
.theme-mono-dark #nav > ul > li > a::after,
.theme-mono-dark .post-info::after,
.theme-mono-dark .post-content .read-more:hover,
.theme-mono-dark .widget-title::after,
.theme-mono-dark .social-button:hover {
	background-color: #ffbb00;
}
.theme-mono-dark .post-info .fa-star {
	color: #ffbb00;
}

.theme-mono-dark #hero.dark-font,
.theme-mono-dark #hero.dark-font .hero-title,
.theme-mono-dark #hero.dark-font h1,
.theme-mono-dark #hero.dark-font h2,
.theme-mono-dark #hero.dark-font h3,
.theme-mono-dark #hero.dark-font a,
.theme-mono-dark #hero.dark-font .hero-post-info .fa,
.theme-mono-dark #hero.light-font,
.theme-mono-dark #hero.light-font .hero-title,
.theme-mono-dark #hero.light-font h1,
.theme-mono-dark #hero.light-font h2,
.theme-mono-dark #hero.light-font h3,
.theme-mono-dark #hero.light-font a,
.theme-mono-dark #hero.dark-font .hero-post-info .fa {
	color: #fff;
}

.theme-mono-dark #hero.dark-font .hero-content a::after,
.theme-mono-dark #hero.light-font .hero-content a::after {
	background-color: #fff;
}


/* 7. Theme: White */

.theme-white .gradient-bg {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
.theme-white .color-bg {
	background-color: #ffffff;
}
.theme-white a.link::after,
.theme-white #nav > ul > li > a::after,
.theme-white .post-info::after,
.theme-white .post-content .read-more:hover,
.theme-white .widget-title::after,
.theme-white .social-button:hover {
	background-color: #ffbb00;
}
.theme-white .post-info .fa-star {
	color: #ffbb00;
}
.theme-white #hero,
.theme-white #main {
	border-top: 1px solid #eee;
}

.theme-white #hero.dark-font,
.theme-white #hero.dark-font .hero-title,
.theme-white #hero.dark-font h1,
.theme-white #hero.dark-font h2,
.theme-white #hero.dark-font h3,
.theme-white #hero.dark-font a,
.theme-white #hero.dark-font .hero-post-info .fa,
.theme-white #hero.light-font,
.theme-white #hero.light-font .hero-title,
.theme-white #hero.light-font h1,
.theme-white #hero.light-font h2,
.theme-white #hero.light-font h3,
.theme-white #hero.light-font a,
.theme-white #hero.dark-font .hero-post-info .fa {
	color: #000;
}

.theme-white #hero.dark-font .hero-content a::after,
.theme-white #hero.light-font .hero-content a::after {
	background-color: #000;
}


/* 8. Theme: Black */

.theme-black .gradient-bg {
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}
.theme-black .color-bg {
	background-color: #000000;
}
.theme-black a.link::after,
.theme-black #nav > ul > li > a::after,
.theme-black .post-info::after,
.theme-black .post-content .read-more:hover,
.theme-black .widget-title::after,
.theme-black .social-button:hover {
	background-color: #ffbb00;
}
.theme-black .post-info .fa-star {
	color: #ffbb00;
}

.theme-black #hero.dark-font,
.theme-black #hero.dark-font .hero-title,
.theme-black #hero.dark-font h1,
.theme-black #hero.dark-font h2,
.theme-black #hero.dark-font h3,
.theme-black #hero.dark-font a,
.theme-black #hero.dark-font .hero-post-info .fa,
.theme-black #hero.light-font,
.theme-black #hero.light-font .hero-title,
.theme-black #hero.light-font h1,
.theme-black #hero.light-font h2,
.theme-black #hero.light-font h3,
.theme-black #hero.light-font a,
.theme-black #hero.dark-font .hero-post-info .fa {
	color: #fff;
}

.theme-black #hero.dark-font .hero-content a::after,
.theme-black #hero.light-font .hero-content a::after {
	background-color: #fff;
}