<aside class="widget">
	<h4 class="widget-title">About</h4>
	{{#if @blog.description}}<p>{{@blog.description}}</p>{{/if}}

	<ul class="social-profiles">
		<li><a href="#" class="social-button social-facebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="social-button social-twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="social-button social-google" title="Google+"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="social-button social-foursquare" title="Foursquare"><i class="fa fa-foursquare"></i></a></li>
		<li><a href="#" class="social-button social-linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="#" class="social-button social-pinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
		<li><a href="#" class="social-button social-instagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
		<li><a href="#" class="social-button social-flickr" title="Flickr"><i class="fa fa-flickr"></i></a></li>
		<li><a href="#" class="social-button social-youtube" title="YouTube"><i class="fa fa-youtube-play"></i></a></li>
		<li><a href="#" class="social-button social-vimeo" title="Vimeo"><i class="fa fa-vimeo-square"></i></a></li>
	</ul>
</aside>