<aside class="widget">
	<h4 class="widget-title">About</h4>
	{{#if @blog.description}}<p>{{@blog.description}}</p>{{/if}}

	<ul class="social-profiles">

		<li><a href="#" class="social-button social-twitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>

		<li><a href="#" class="social-button social-linkedin" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="{{@blog.url}}/rss/" class="social-button social-rss" title="Subscribe to RSS"><i class="fa fa-rss"></i></a></li>

	</ul>
</aside>
